{% extends "booking/base.html" %}
{% block content %}

<h1>Hotels</h1>

{% for hotel in hotels %}
<div class="card hotel-card">
    <div class="hotel-left">
        <h3>{{ hotel.name }}</h3>
        <p>{{ hotel.city }}</p>

        <div class="amenities">
            <span>🌿 Nature View</span>
            <span>🅿 Parking</span>
            <span>📶 WiFi</span>
        </div>
    </div>

    <div class="hotel-right">
        <p class="price">₹ {{ hotel.starting_price }} <span>/ night</span></p>
        <a class="btn-primary"
           href="{% url 'rooms_list' hotel.id %}?check_in={{ check_in }}&check_out={{ check_out }}">
            View Rooms
        </a>
    </div>
</div>
{% empty %}
<p>No hotels found.</p>
{% endfor %}

{% endblock %}
